
<!-------------------------------------------------------------------------- 
 VIEWS  
---------------------------------------------------------------------------->

<!-- start of views -->
<div id="service-content"> 

    <!-- style -->
    <style type="text/css">
        /* for spin.js */
        @keyframes spinner-line-shrink {
            0%, 25%, 100% {
                /* minimum scale and opacity */
                transform: scale(0.5);
                opacity: 0.25;
            }
            26% {
                transform: scale(1);
                opacity: 1;
            }
        }
        .container-fluid {
            margin-top: 5em;
        }
        .settings-sub-menu {
            padding-top: 1em;
            padding-bottom: 0.5em;
        }
        .app-list {
            padding-top: 2em;
        }
        .information {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    </style>

    <!-- Header -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Setting A</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Setting B</a>
                    <a class="list-group-item list-group-item-action" id="settings-apps-list" data-toggle="list" href="#settings-apps" role="tab" aria-controls="messages">Applications</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Setting C</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <h4>Setting A</h4>
                        <hr>
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <h4>Setting B</h4>
                        <hr>
                    </div>
                    <div class="tab-pane fade" id="settings-apps" role="tabpanel" aria-labelledby="settings-apps-list">
                        <h4>OAuth Apps</h4>
                        <hr>
                        <div class='mx-auto'>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" id="app-name-input" type="text" placeholder="App name to remember">
                                <button class="btn btn-outline-success my-2 my-sm-0" id="app-add-btn">Add</button>
                            </form>
                        </div>
                        <div class="information">
                            <p class="lead text-muted">Delete a registered application by clicking <code>X</code> and add new one when you lost a private key created as the service does not keep a private key.</p>
                        </div>
                        <div class='app-list mx-auto'>
                            <ul class="list-group" id="app-list"></ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        <h4>Setting C</h4>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sub Content -->
    <div id="content-sub"></div>
    <div id="content-sub-sub"></div>

</div> 
<!-- end of views -->

<!-- Templates -->
<script type="text/template" id="tmp-app-item">
    <li class="list-group-item d-flex justify-content-between align-items-center" id="app-item-{% __id %}">
        <span class="app-name"><mark> {% name %}</mark> <code class="text-muted">(id:  {% __id %})</code></span> 
        <div class="d-flex justify-content-end align-items-center">
            <a id="app-item-download-{% __id %}" href="" download="{% __id %}.json" hidden>Download</a><span id="app-item-key-{% __id %}" hidden>{% privateKey %}</span>
            <button class="btn btn-default btn-sm remove-item" id={% __id %}>
                <svg class="bi bi-x" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                </svg>
            </button>
        </div>
    </li>
</script>


<!-------------------------------------------------------------------------- 
 CONTROLS  
---------------------------------------------------------------------------->     
<script src="/scripts/mustache.js"></script>         
<script type="text/javascript">
    (function() { 
        let hello = Line_Firebase.hello();
        Mustache.parse($('#tmp-app-item').html(), [ '{%', '%}' ] );

        // control codes go below
        //
        var appList = [];
        var isLoaded = false;


        function _getAppList(cb) {
            Line_Firebase.app().list()
                .then((list) => {
                    console.log("--- all list: ", list);
                    if(list.payload != "nil") {
                        appList = list.payload;
                    }
                    cb();
                })
                .catch((e)=> {
                    console.log("--- error: ", e);
                    cb(e);
                })
        }
        function _deleteApp(_app_id, cb) {
            Line_Firebase.app().delete(_app_id)
                .then((result) => {
                    appList.forEach((item, idx)=>{
                        if(item.__id == result.payload.__id) {
                            appList.splice(idx, 1);
                        }
                    });
                    cb();
                }).catch((e)=> {
                    console.log("--- error: ", e);
                    cb(e);
                });
        }
        function refreshAppListView() {
            $('#app-list').html("");
            if(appList.length > 0) {
                appList.forEach(app => {
                    $('#app-list').append(Mustache.render($('#tmp-app-item').html(), { name: app.name, __id: app.__id, privateKey: app.privateKey}));
                    var pkey = $('#app-item-key-'+app.__id).text();
                    
                    if(pkey) {
                        $('#app-item-download-'+app.__id).removeAttr('hidden');
                        $('#app-item-download-'+app.__id).click((e)=>{
                            //e.preventDefault(); <- if used, download attr does not work.
                            var serverkey = `{ "app_id": "${app.__id}", "private_key": ${JSON.stringify(pkey)}}`;
                            console.log("--- serverkey: ", serverkey);
                            let attrValue= "data:text/plain;charset=UTF-8," + encodeURIComponent(serverkey);
                            $('#app-item-download-'+app.__id).attr('href', attrValue);
                        });
                    }
                });

                eHandlerRemoveAppItem();
            }
        }
        function eHandlerRemoveAppItem() {
            // event handler - app remove btn
            $(".remove-item").click((e) => {
                e.preventDefault();
                console.log("--- event target id: ", e.currentTarget.getAttribute('id'));
                Line_Service_Spinner.spin($(".container-fluid").get(0));
                _deleteApp(e.currentTarget.getAttribute('id'), (e)=>{
                    Line_Service_Spinner.stop();
                    if(!e) {
                        refreshAppListView();
                    }
                });
            });
        }

        
        $('#settings-apps-list').click((e)=>{
            e.preventDefault();
            console.log("--- appList.length: ", appList.length);
            if(!isLoaded) {
                Line_Service_Spinner.spin($(".container-fluid").get(0));
                _getAppList((e)=>{
                    Line_Service_Spinner.stop();
                    isLoaded = true;
                    if(!e) {
                        refreshAppListView();
                    } 
                });
            }
        })


        // event handler - app add btn 
        $("#app-add-btn").click((e)=>{
            e.preventDefault();
            Line_Service_Spinner.spin($(".container-fluid").get(0));
            console.log("--- api add btn clicked: ", $('#app-name-input').val());
            Line_Firebase.app().add($('#app-name-input').val())
            .then((result) => {
                Line_Service_Spinner.stop();
                console.log("--- result: ", result);
                appList.push(result.payload);
                refreshAppListView();
            }).catch((error)=> {
                Line_Service_Spinner.stop();
                console.log("--- error: ", error);
            });
        });


        //
        // end of control codes

    })();
</script>


