
<!-------------------------------------------------------------------------- 
 VIEWS  
---------------------------------------------------------------------------->

<!-- start of views -->
<div> 

    <!-- style -->
    <style type="text/css">

    </style>

    <!-- Header -->



    <!-- Sub Content -->
    <div id="header-sub"></div>
    <div id="header-sub-sub"></div>

</div> 
<!-- end of views -->

<!-- Templates -->
<script type="text/template" id="tmp-***">

</script>



<!-------------------------------------------------------------------------- 
 CONTROLS  
---------------------------------------------------------------------------->              
     
<script type="text/javascript">
    (function(window) { 
        let __serlook__ = new window.SerLook(serlook.url);
        let __serlookUI__ = new window.SerLookUI(__serlook__);
        let __spinner__ = new Spinner();
                
        // control codes go below
        //
 

        //
        // end of control codes

    })(window);
</script>


