
<!-------------------------------------------------------------------------- 
 VIEWS  
---------------------------------------------------------------------------->

<!-- start of views -->
<div id="service-content"> 

    <!-- style -->
    <style type="text/css">

    </style>

    <!-- Header -->



    <!-- Sub Content -->
    <div id="content-sub"></div>
    <div id="content-sub-sub"></div>

</div> 
<!-- end of views -->

<!-- Templates -->
<!-- Template for loader -->
<script type="text/template" id="tmp-loader">
    <div class="loader">
        <div class="duo duo1">
        <div class="dot dot-a"></div>
        <div class="dot dot-b"></div>
        </div>
        <div class="duo duo2">
        <div class="dot dot-a"></div>
        <div class="dot dot-b"></div>
        </div>
    </div>
</script>
<script type="text/template" id="tmp-***">

</script>



<!-------------------------------------------------------------------------- 
 CONTROLS  
---------------------------------------------------------------------------->              
<!-- For client-side rendering -->
<script src="/scripts/mustache.js"></script>         
<script type="text/javascript">
    (function() { 
        let hello = Line_Firebase.hello();
        Mustache.parse($('#tmp-app-item').html(), [ '{%', '%}' ] );


        // control codes go below
        //
        // Line_Service_Spinner.spin($(".container-fluid").get(0));
        // Line_Service_Spinner.stop();
 

        //
        // end of control codes

    })();
</script>


