
<!-------------------------------------------------------------------------- 
 VIEWS  
---------------------------------------------------------------------------->

<!-- start of views -->
<div id="service-content"> 

    <!-- style -->
    <style type="text/css">

    </style>

    <!-- Header -->



    <!-- Sub Content -->
    <div id="content-sub"></div>
    <div id="content-sub-sub"></div>

</div> 
<!-- end of views -->

<!-- Templates -->
<!-- Template for loader -->
<script type="text/template" id="tmp-loader">
    <div class="loader">
        <div class="duo duo1">
        <div class="dot dot-a"></div>
        <div class="dot dot-b"></div>
        </div>
        <div class="duo duo2">
        <div class="dot dot-a"></div>
        <div class="dot dot-b"></div>
        </div>
    </div>
</script>
<script type="text/template" id="tmp-***">

</script>



<!-------------------------------------------------------------------------- 
 CONTROLS  
---------------------------------------------------------------------------->              
     
<script type="text/javascript">
    (function() { 
        let __line__ = new window.Line(line.url);
        // TODO: let __lineUI__ = new window.LineUI(__line__);
        let __spinner__ = new Spinner();
                
        // control codes go below
        //
 

        //
        // end of control codes

    })();
</script>


